@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    @model Category
    <div class="container">
        <h1>Delete Category</h1>
        <form method="post">
            <div class="border p-3 mt-4">
                <div class="mb-3">
                    <label asp-for="Name" class="mb-2">Category Name: </label>
                    <input asp-for="Name" disabled class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="DisplayOrder" class="mb-2">Display Order: </label>
                    <input asp-for="DisplayOrder" disabled class="form-control" />
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary form-control" style="width:150px">Delete</button>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-secondary" asp-controller="Category" asp-action="Index">Back to the List </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
}

